<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/common.css">

  <title>header</title>
</head>

<body>
  <header class="header">
    <div class="header-inner">

      <h1 class="logo">
        <a href="#">
          <img src="../assets/img/header-img/logo.png" alt="VERO CAR">
        </a>
      </h1>

      <nav class="gnb">
        <ul class="gnb-list">
          <li class="gnb-item">
            <a href="#" class="gnb-link">내차사기</a>
          </li>

          <li class="gnb-item">
            <a href="#" class="gnb-link">내차팔기</a>
          </li>

          <li class="gnb-item">
            <a href="#" class="gnb-link">렌트</a>
          </li>

          <li class="gnb-item">
            <a href="#" class="gnb-link">리스</a>
          </li>

          <li class="gnb-item">
            <a href="#" class="gnb-link">이벤트</a>
          </li>
        </ul>
      </nav>

      <div class="header-util">
        <a href="#" class="util-link" aria-label="마이페이지">
          <img src="../assets/img/header-img/User.png" alt="">
        </a>

        <a href="#" class="util-link" aria-label="관심차량">
          <img src="../assets/img/header-img/Heart.png" alt="">
        </a>
      </div>

    </div>
  </header>
</body>

</html>