<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/common.css">

  <title>quick-menu</title>
</head>

<body>

  <!-- =========================
     Quick Menu
========================= -->
  <aside class="quick-menu">

    <div class="recent-wrap">

      <!-- 호버 시 나타나는 전체 영역 -->
      <div class="recent-hover-box">

        <!-- 차량 목록 -->
        <div class="recent-car-list">

          <div class="recent-car-card">
            <img src="../assets/img/quick-menu-img/벤츠.png" alt="벤츠 E클래스">
            <strong>벤츠 E클래스 E350 AMG</strong>
            <span>22년식 / 12,367km</span>
            <b>6,700만원</b>
          </div>

          <div class="recent-car-card">
            <img src="../assets/img/quick-menu-img/제네시스.png" alt="제네시스 G80">
            <strong>제네시스 G80 2.5 터보</strong>
            <span>22년식 / 10,215km</span>
            <b>5,240만원</b>
          </div>

          <div class="recent-car-card">
            <img src="../assets/img/quick-menu-img/아우디.png" alt="아우디 Q5">
            <strong>아우디 Q5 45</strong>
            <span>22년식 / 12,914km</span>
            <b>5,120만원</b>
          </div>

        </div>


        <!-- 왼쪽 아래 버튼 -->
        <div class="recent-buttons">
          <button type="button">AI차량추천</button>
          <button type="button">비교하기</button>
        </div>

      </div>


      <!-- 최근 본 차량 버튼 -->
      <button type="button" class="quick-recent">
        <img src="../assets/img/quick-menu-img/최근본차량아이콘.png" alt="">
        <span>최근 본 차량</span>
      </button>

    </div>


    <!-- TOP 버튼 -->
    <button type="button" class="quick-top">
      <span class="top-icon">↑</span>
      <span>TOP</span>
    </button>

  </aside>

  <script src="../assets/js/common.js" defer></script>
</body>

</html>